.form-container {
  max-width: 500px;
  margin: 20px auto;
  background-color: #f9f9ff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  color: #1e3a8a;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-top: 10px;
  color: #333;
}

input[type="text"],
input[type="number"],
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 5px;
}

.upload-section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.upload-section label {
  margin-top: 10px;
}

.upload-section input[type="file"] {
  margin-top: 5px;
}

.apply1 {
  background-color: #1e3a8a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.apply1:hover {
  background-color: #2c4fb8;
}
.success-message {
  color: green;
  text-align: center;
  margin-top: 15px;
}